.container {        
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: left;
    /* gap: 7rem; */
    padding: 0 1rem;    
    width:15%;
    border: 2px solid blue;
}