/* * {
    box-sizing: border-box;
} */

/* body {
    margin: 0;
} */

/* ALL THIS SHIT IS SPECIFIC FOR THE NAVBAR COMPONENT */
.mainNav {
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #42253B;
    margin: 0;
    padding: 0;
    font-family: 'Itim', cursive;
    font-weight: 400;
    font-style: normal;
    
}
.logo {
    font-size: 2.8rem; 
}

.navbar {    
    color:#82D173;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem; /* can figure this alignmetn out with the footer. */
    padding: 0 1rem;
    font-size: 1.6rem;
    /* border: 2px solid black; */
}

.linkActive {
    color: white;
    text-decoration: underline;
}

.link:hover {
    transition-duration: 0.5s;
    color: grey; /* make it cycle through rainbow? */
}

.navCenter {
    justify-content: center;
}

.mainColor {
    color: #82D173;
}
