@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  /* --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    /* --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
  }
}
/* ALL THIS SHIT IS FOR THE HOME PAGE.TSX */
body {
  color: rgb(var(--foreground-rgb));
  background-color: #B8B7CD;
}


div.maincontainer {
  display: flex;
  padding: 0%;
  margin: 0px;
  margin-bottom: 10px;
  max-height: 100vh;
  max-width: 100vw;

}

div.footcontainer {
  display: flex;
  padding: 0%;
  margin: 0px;

}

div.container {
  display: flex;
  padding: 0%;
  margin: 0px;
}

.acenter {
  align-items: center;
}

.jcenter {
  justify-content: center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
